.Square{
  width: 100px;
  height: 100px;
  margin: 2px;
  line-height: 100px;
  background-color: sandybrown;
  text-align: center;
  vertical-align: middle;
  border: 5px solid black;
  font-size: 30px;

  float: left;
   
}

.SquareEmpty{
  width: 100px;
  height: 100px;
  margin: 2px;
  border: 5px solid white;

  float: left;
   
}
.SquareClearLeft{
  clear: left;  
}

.CheatButton{
  clear: left
}
